.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 460px;
  z-index: 600;
}

#main-navbar {
  display: none;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    padding: 50px 0 0;
  }
  #main-navbar {
    display: flex;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-group-title {
  font-size: 16px;
  color: #fff !important;
  background-color: #1976d2;
  padding: 11px 5px 0 15px;
}

.scroll-content {
  overflow: auto;
  height: calc(100vh - 40px);
}
